<div class="row" style="text-align: -webkit-center;">
  <div class="col-md-12">
      <h2 ><p>Social Logins</p></h2>
      <button class="btn btn-primary" style="background-color: #3B5998; border-color: #3B5998;" (click)="facebooklogin()"><i class="fa fa-facebook"></i> Facebook</button>
      <button class="btn btn-primary" style="background-color: #C63D2D; border-color: #C63D2D;" (click)="googlelogin()"><i class="fa fa-google-plus"></i> Google</button>
      <button class="btn btn-primary" style="background-color: #4875B4; border-color: #4875B4;" (click)="linkedinlogin()"><i class="fa fa-linkedin"></i> LinkedIn</button>
  </div>

<div class="col-md-12" style="text-align: -webkit-center;">
  <div class="card" style="width:20rem;margin:20px 0 24px 0;text-align: -webkit-center;" *ngIf="user.photoUrl">
    <img [src]="user.photoUrl" alt="image" style="width:200px;border-radius: 50%;margin-top:10px;">
    <div class="card-body">
      <h4 class="card-title">{{user.name}}</h4>
      <p class="card-text">{{user.email}}</p>
    </div>
  </div>
</div>
</div>

