<form #userForm="ngForm">
    <h2><p>Template Password & Confirm Password Form Validation</p></h2>
    <div class="form-group">
      <label for="email">Password:</label>
      <input type="text" class="form-control" id="password" (input)="confirmPassword.control.updateValueAndValidity()" [(ngModel)]="user.password" name="password" #password = "ngModel" required="required">
      <div *ngIf="password.errors && (password.touched || password.dirty)" style="color:red;">
          <div [hidden]="!password.errors.required">Password is Required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="phone">Confirm Password:</label>
      <input type="text" class="form-control" id="confirmPassword" passwordValidator="password" [(ngModel)]="user.confirmPassword" name="confirmPassword" #confirmPassword = "ngModel" required="required">
      <div *ngIf="confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty) || confirmPassword.errors?.notEqual" style="color:red;">
          <div [hidden]="!confirmPassword.errors.required">Confirm Password is Required</div>
          <div [hidden]="!confirmPassword.errors?.notEqual">Password & Confirm Password must be match</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="save(user)" [disabled]="!userForm.valid">Add</button>
  </form>
